@import '../variables';

.btn {
    display: inline-block;
    border-radius: 8px;
    padding: 8px 12px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;

    &.btn-primary {
        background: $colorPrimary;
    }
    &.btn-secondary {
        background: $colorSecondary;
    }
    &.btn-pink {
        background: $colorPink;
    }
    &.btn-gold {
        background: $colorGold;
    }
    &:disabled, &.disabled {
        background: #535353;
        color: #C0C0C0;
    }
    &.btn-outline-primary {
        border: 1px solid #7517F8;
        box-sizing: border-box;
        border-radius: 12px;
    }
    &.btn-outline-secondary {
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        border-radius: 12px;
    }
}
