@import '../variables';

$hoverDarkenPerentage : 10%;

.btn {
    display: inline-block;
    border-radius: 8px;
    padding: 8px 12px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    @include animateFast;

    &.btn-primary {
        background: $colorPrimary;
        &:hover, &.active, &:focus {
            background: darken($colorPrimary, $hoverDarkenPerentage);
        }
    }
    &.btn-secondary {
        background: $colorSecondary;
        &:hover, &.active, &:focus {
            background: darken($colorSecondary, $hoverDarkenPerentage);
        }
    }
    &.btn-pink {
        background: $colorPink;
        &:hover, &.active, &:focus {
            background: darken($colorPink, $hoverDarkenPerentage);
        }
    }
    &.btn-gold {
        background: $colorGold;
        &:hover, &.active, &:focus {
            background: darken($colorGold, $hoverDarkenPerentage);
        }
    }
    &:disabled, &.disabled {
        background: #535353;
        color: #C0C0C0;
        &:hover, &.active, &:focus {
            background: darken(#535353, $hoverDarkenPerentage);
        }
    }
    &.btn-outline-primary {
        border: 1px solid #7517F8;
        box-sizing: border-box;
        border-radius: 12px;
        &:hover, &.active, &:focus {
            border-color: darken($colorPrimary, $hoverDarkenPerentage);
        }
    }
    &.btn-outline-secondary {
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        border-radius: 12px;
        &:hover, &.active, &:focus {
            border-color: darken($colorPrimary, $hoverDarkenPerentage);
        }
    }
}
