@import '../variables.scss';

body {
    background: #17191B;
    color: #FFF;
}

nav#nav-bar {
    background: #111214;
    position:fixed;
    left:0;
    top:0;
    width: 70px;
    height: 100%;
    z-index: 6;

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
        width: 300px;

        .menu__item > i, img {
            margin-left: 0;
        }

        .menu__item > span {
            display: inline-block;
        }
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;

        width: 26px;
        height: 26px;

        cursor: pointer;
        z-index:5;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        z-index:3;
        top: 0;
        left: -230px;
        width: 300px;
        height: 100%;
        margin: 0;
        list-style: none;
        background-color: #111214;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        padding: 70px 0 0 0;
    }

    .menu__item {
        display: block;
        z-index:4;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
        position: relative;
        height:70px;
        line-height: 70px;

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }

        i, svg {
            display: inline-block;
            width:70px;
            height:70px;
            margin-left: 230px;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
            color: #505963;
            border-left: 4px solid transparent;
            transition-duration: .25s;
        }

        span {
            display: none;
            height:70px;
            width: 200px;
            vertical-align: middle;
            line-height: 70px;
            color: #505963;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 4px;
            transition-duration: .25s;
        }

        &.absolute__bottom {
            position: absolute;
            bottom: 0;
        }
    }
    .menu__item:hover, .menu__item.active {
        i {
            color: #58BCDA;
            border-color: #58BCDA;
        }
        span {
            color: #58BCDA;
        }
    }
}

#container {
    position: fixed;
    left:70px;
    top:0;
    height: 100%;
    right: 0;
    overflow-y: scroll;
    color: #FFF;
}

.container-left {
    width: auto;
    margin-right: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    @include animateFast;

    @media (max-width: $mediaQueryScreenTablet) {
        margin-right: 0px;
    }
}

.container-right {
    position: absolute;
    right: 0;
    width: 300px;
    height: 100%;
    background: #1E2227;
    @include animateFast;

    @media (max-width: $mediaQueryScreenTablet) {
        display: none;
    }
}

header.main-header {
    height: 60px;
    width: 100%;
    position:relative;
    top:0;
    left:0;
    padding: 8px 8px;
}

.align-right {
    text-align: right;
}

.f-right {
    float:right;
}

.f-left {
    float:left;
}
