@use 'components/layout';
@use 'components/grid';
@use 'components/trading-pool';

body {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
