@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import '../bootstrap/bootstrap-grid';
@import '../bootstrap/utilities/spacing';
@import 'components/layout';
@import 'components/trading-pool';
@import 'components/buttons';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
